NEXT_PUBLIC_NHOST_SUBDOMAIN=
NEXT_PUBLIC_NHOST_REGION=
NEXT_PUBLIC_AUTH_URL=https://SSS.DDD.com
NEXT_PUBLIC_GRAPHQL_URL=https://SSS.DDD.com/v1/graphql
NEXT_PUBLIC_STORAGE_URL=https://SSS.DDD.com/v1
NEXT_PUBLIC_FUNCTION_URL=https://SSS.DDD.com